<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<!--Google = 1, Outlook = 2, Office365 = 3-->
		<add key="ServerType" value="1" />
		
		<!--OAuth = 1, UserCredentials = 2-->
		<add key="AuthenticationMode" value="2" />

		<add key="ClientId" value="ENTER YOUR CLIENT ID" />
		<add key="ClientSecret" value="ENTER YOUR CLIENT SECRET" />

		<add key="UserEmail" value="ENTER USER EMAIL" />
		<add key="Password" value="ENTER USER PASSWORD" />
	</appSettings>
</configuration>